* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 90vh;
    z-index: 1;
    display: flex;
    background: linear-gradient(to right top, #000, rgb(54, 54, 54));
    align-items: center;
    justify-content: space-around;
    color: #f5f5f5;
}

.header .img {
    position: relative;
}

.header .img img {
    height: 350px;
    width: 500px;
    object-fit: cover;
}

.header .text {
    width: 30%;
}

.header>p {
    position: absolute;
    bottom: 20px;
    animation: bounce 2s linear infinite;
}

@keyframes bounce {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 20px;
    }
}

@media screen and (max-width:768px) {
    .header {
        height: 110vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header .text {
        width: 50%;
    }
}

/* Content */

.content {
    padding: 5rem 0;
}

.content .title, .content .title-desc {
    text-align: center;
}

.content .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 150px 0;
}

.content .card li {
    width: 400px;
    height: 520px;
    box-shadow: 2px 2px 20px rgb(179, 179, 179);
    margin: 30px 20px;
    border-radius: 16px;
    overflow: hidden;
}

.content .card li .text {
    padding: 25px 20px;
}

.content .card li .text p {
    margin: 10px 0;
}

.content .card li img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.outro {
    height: 50vh;
    background: #232323;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.outro p {
    margin: 20px 0;
    width: 50%;
}

.copyright {
    text-align: center;
    padding: 20px 0;
}